@use 'styles/variables' as v;

.form {
  margin-bottom: 1rem;
  text-align: center;
}

.form-container {
  display: inline-block;
  border-radius: 5px;
  border-left: v.$elem-border-left;
  border-right: v.$elem-border-right;
  border-bottom: v.$elem-border-bottom;

  @media (max-width: v.$tablet) {
    width: 100%;
  }
}
