@use 'styles/variables' as v;

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans'),
    url(../assets/fonts/FiraSans-Regular.woff) format('woff'),
    url(../assets/fonts/FiraSans-Regular.woff2) format('woff2');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: v.$primary-font;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  min-width: 320px;
  background: #f7f8fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus,
textarea:focus,
select:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 3px inset #b9e0ff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
