@use 'styles/variables' as v;

.search {
  position: relative;

  &__input {
    font-size: 1rem;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem 2.5rem 0.5rem 0.7rem;
    border-left: v.$elem-border-left;
    border-right: v.$elem-border-right;
    border-bottom: v.$elem-border-bottom;
  }

  &__icon {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}
