@use 'styles/variables' as v;

.status-select-wrapper {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 24px;
    width: 5px;
    height: 5px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(45deg);
  }

  @media (max-width: v.$tablet) {
    display: block;
  }
}

.status-select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  color: v.$text-color;
  background: #fff;
  border-left: v.$elem-border-left;
  border-right: v.$elem-border-right;
  border-bottom: v.$elem-border-bottom;

  @media (max-width: v.$tablet) {
    text-align: center;
    text-align-last: center;
    width: 100%;
    margin-right: 0;
  }
}
