@use 'styles/variables' as v;

.save-btn {
  font-size: 1rem;
  background: v.$save-btn-bg;
  padding: 0.5rem 4rem;
  cursor: pointer;
  border-radius: 5px;
  color: v.$text-color;
  box-shadow: v.$elemShadow;

  &:active {
    background-color: v.$save-btn-active-bg;
  }

  @media (max-width: v.$tablet) {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 2rem;
  }
}
